<h1>Informações, dúvidas ou sugestões?</h1>
<div class="offset2 span8 contact">
	<p>
	<br>
	<a href="mailto:contato@institutosarahlins.org.br">contato@institutosarahlins.org.br</a><br>
	Telefone: +55 19 3549 3513<br>
	<br>
	Horário de atendimento das 10:00 às 16:00<br>
	<br>
	Agradecemos antecipadamente seu contato e teremos grande satisfação em responder em breve!
	</p>
</div>
