<div class="row">
	<div class="project-images span2">
	<%= image_tag "tigre-branco.png" %>
	<br>
	<%= image_tag "idiomas.png" %>
	</div>
	<div class="span8">
	<section class="tigre-branco">
	<h4>Projeto Tigre Branco</h4>
	<p>
	Projeto esportivo voltado a prática de artes marciais, que tem 
    o objetivo além de prover saúde e bem estar às pessoas, 
	principalmente compartilhar de noções de respeito e disciplina 
	voltados para o desenvolvimento pessoal, educacional e 
	profissional.
	</p>
	</section>
	<section class="desabrochar">
	<h4>Projeto Desabrochar</h4>
	<p>
	Projeto cultural que desenvolve atividade de artes, como dança,
	artes cênicas e canto, além de oficinas de artesanato, que visa 
	desenvolver nas pessoas coordenação lógica e motora além de 
	prover oportunidades de caráter profissional.
	</p>
	</section>
	<section class="welcome-mundo">
	<h4>Projeto Welcome para el Mundo</h4>
	<p>
	Projeto educacional que visa integrar o jovem ao ambiente 
	internacional através do aprendizado de novos idiomas como o 
	Inglês e Espanhol. Desde as primeiras aulas a pessoa já interage 
	com brasileiros e estrangeiros parceiros do projeto residentes em 
	países como Austrália, Itália, Bulgária, Chile e Argentina.
	</p>
	</section>
	<section class="infojovem">
	<h4>Projeto InfoJovem</h4>
	<p>
	Projeto educacional focado na introdução do jovem ao universo 
	digital, com aulas de informática, voltadas a utilização desse 
	recurso tecnológico para fins pedagógicos como o reforço e 
	suporte ao aprendizado.
	</p>
	</section>
	</div>
	<div class="project-images span2">
	<%= image_tag "desabrochar.png" %>
	<br>
	<%= image_tag "infojovem.png" %>
	</div>
</div>
