<div class="container">
	<p>
	Desenvolvido por 
	<a href="http://twitter.com/papeldeorigami" target="_blank">@papeldeorigami</a>
	em Ruby on Rails
	</p>
	<p>
	<%= t('.copyright', :year => Time.now.year, :site_name => Refinery::Core.site_name) %>
	</p>
	<ul class="footer-links">
		<li><a href="https://github.com/papeldeorigami/isl-site">Código-fonte</a></li>
		<li class="muted">·</li>
		<li><a href="https://github.com/papeldeorigami/isl-site/releases">Versões</a></li>
	</ul>
</div>
