
<div class="container">
	<%= link_to (image_tag "logo_transparente.png", :alt => Refinery::Core.site_name), refinery.root_path %>
	<div class="container">
		<div class="navbar">
			<nav class="navbar-inner">
			<div class="container">
				<% @menu = Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self) %>
				<%-# Quick hack to allow bootstrap-styled menu: -%>
				<%= @menu.to_html.gsub("<ul>", "<ul class=\"nav\">").html_safe -%>
			</div>
			</nav>
		</div>
	</div>
</div>
