/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

.footer {
	background-color: #f5f5f5;
}

.invitation {
	height: 226px;
}

.invitation {
	font-size: 18px;
	text-align: center;
	vertical-align: middle;
	padding-top: 50px;
}

.contact-first-page {
	padding-top: 10px;
	font-size: 18px;
	text-align: center;
}

.light-box {
   background-color: #f5f5f5;
   border: 1px solid #ddd;
   @include border-radius(4px);  
}
.posts > header > h4 {
	font-size: 14px;
}
