$bigtext: 14px;

.invitation {
	height: 226px;
}

.invitation {
	font-size: $bigtext;
	text-align: center;
	vertical-align: middle;
	padding-top: 50px;
}

.contact-first-page {
	padding-top: 10px;
	font-size: $bigtext;
	text-align: center;
}

.posts > header > h4 {
	font-size: $bigtext;
}
