.invitation {
	height: 226px;
}

.invitation {
	font-size: 18px;
	text-align: center;
	vertical-align: middle;
	padding-top: 50px;
}

.contact-first-page {
	padding-top: 10px;
	font-size: 18px;
	text-align: center;
}

.posts > header > h4 {
	font-size: 14px;
}
