.project-images {
	img {
		margin-bottom: 40px;
	}
}

.tigre-branco {
	text-align: left;
}

.desabrochar {
	text-align: right;
}

.welcome-mundo {
	text-align: left;
}

.infojovem {
	text-align: right;
}
