- if document.searchable.is_a? Cms::Page
  - page = document.searchable
  - excerpts = excerpt(page.slug, @search_query)
  - if !excerpts.nil?
    - page_label = highlight(excerpts, [@search_query], :highlighter => '<strong>\1</strong>')
  - else
    - page_label = page.label
  %h3= link_to page_label, page.slug
  %br
  -#%p= page.truncated_text
  -#%p= highlight(excerpt(page.plain_content, @search_query), [@search_query], :highlighter => '<strong>\1</strong>')
  - excerpts = excerpt(page.plain_content, @search_query)
  - if !excerpts.nil?
    %p= highlight(excerpts, [@search_query], :highlighter => '<strong>\1</strong>')
  - else
    %p= page.truncated_text
- else
  %h3= document
