<div class="footer">
    <hr>
    <div class="container narrow row-fluid">
        <div class="offset3 span6">
            <p>
            &copy; Instituto Sarah Lins 2013 - Todos os direitos reservados
            </p>
            <p>Desenvolvido por <a href="https://twitter.com/papeldeorigami">papeldeorigami</a> em <a href="http://www.rubyonrails.com.br">Ruby on Rails</a>
            <ul class="footer-links">
                <li><a href="http://github.com/papeldeorigami/isl-site">Código-fonte</a></li>
                <li class="muted">·</li>
                <li><a href="admin">Login</a></li>
            </ul>
        </div>
    </div>
</div>
