<ul class="nav">
	<li>
  <a href="home">Home</a>
	</li>
	<li>
  <a href="institutional">Institucional</a>
	</li>
	<li>
  <a href="projects">Projetos</a>
	</li>
	<li>
  <a href="team">Equipe</a>
	</li>
	<li>
  <a href="gallery">Galeria</a>
	</li>
	<li>
  <a href="contact">Fale conosco</a>
	</li>
</ul>
<form class="navbar-search pull-left">
	  <input type="text" class="search-query" placeholder="Procurar">
</form>
