<ul class="nav">
	<li>
	<%= link_to "Home", :controller => "static_pages", :action => "home" %>
	</li>
	<li>
	<%= link_to('Institucional', :controller => "static_pages", :action => "institutional")  %>  
	</li>
</ul>
